.my-cart-container {
  position: relative;
  z-index: -1;

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 15px;
    background-color: #efefef;
    border-radius: 3px;
    position: absolute;
    bottom: 76%;
    right: 0%;
  }
}
