.navbar-container {
  display: flex;
  flex-direction: column;

  .navbar-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 70px;
    padding: 0 10px;

    .left-column-wrapper {
      align-self: center;

      img {
        width: 100%;
      }
    }

    .right-column-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8%;

      svg {
        height: 30px;
        color: #1a4952;
      }

      .search-bar-wrapper {
        button {
          background-color: transparent;
          border: none;
        }
      }

      .my-cart-wrapper {
        position: relative;
        z-index: -1;

        .count {
          position: absolute;
          bottom: 60%;
          right: -40%;
        }
      }
    }
  }
}
