.navbar-container {
  display: flex;
  flex-direction: column;

  .shipping-statement-wrapper {
    order: 1;
    padding: 10px;
    text-align: center;
    background-color: #1c4951;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .navbar-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 70px;
    padding: 0 10px;

    .left-column-wrapper {
      align-self: center;

      img {
        width: 100%;
      }

      .address-wrapper {
        display: none;
      }
    }

    .right-column-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8%;

      svg {
        height: 30px;
        color: #1a4952;
      }

      .account-wrapper {
        display: none;
      }

      .my-cart-wrapper {
        position: relative;
        z-index: -1;

        a {
          display: none;
        }

        .count {
          position: absolute;
          bottom: 60%;
          right: -40%;
        }
      }
    }
  }

  .nav-links-wrapper {
    display: none;
  }
}
