@media (min-width: 768px) {
  .navigation-container {
    .navbar-container {
      display: flex;
    }

    .mobile-navbar-container {
      display: none;
    }

    .shipping-statement-container {
      order: -1;
    }
  }
}
