.mobile-menu-container {
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  position: absolute;

  a {
    font-size: 14px;
    color: #1c4951;
    text-decoration: none;
  }

  .menu-items-wrapper,
  .subcategory-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 56px;
    overflow: scroll;
    height: 80vh;

    .nav-link-wrapper,
    .sub-category-item-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      background-color: #f9f9f9;
      border-bottom: 1px solid #c1c1c1;
      padding: 0% 5%;
    }
  }

  .menu-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0% 5%;

    svg {
      height: 20px;
    }

    a,
    svg {
      color: #1c4951;
    }
  }

  .menu-items-wrapper {
    .menu-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      font-size: 15px;
      font-weight: 700;
      background-color: #f9f9f9;
      border-bottom: 1px solid #c1c1c1;
      padding: 0% 5%;

      svg {
        height: 15px;
      }
    }
  }

  .subcategory-items-wrapper {
    .back-button {
      height: 55px;
      font-size: 16px;
      font-weight: 600;
      text-align: start;
      color: #ac9151;
      background-color: #f9f9f9;
      border: none;
      padding-left: 5%;

      svg {
        font-size: 14px;
        padding-right: 3%;
      }
    }

    .shop-all-wrapper {
      display: flex;
      align-items: center;
      height: 55px;
      background-color: #1c4951;
      padding-left: 5%;

      a {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
      }
    }

    .sub-category-item-wrapper {
      a {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}
