.location-side-panel-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    margin-bottom: 5%;
    padding: 0px 5%;

    h1 {
      font-size: 22px;
      font-weight: 400;
      margin: 0;
    }

    svg {
      height: 30px;
    }
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    input {
      width: 80%;
      height: 100%;
    }

    .magnifying-glass-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background-color: #1c4951;

      svg {
        height: 50%;
        color: #fff;
      }
    }
  }
}
